@using LabManagement.System.Models;
@model ErrorModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-md-12">
        Error Occured while processing your request in @Model.Controller && @Model.Action
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        Please see below error details for more information
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <p>@Model.Exception.Message</p>
        <p>@Model.Exception.InnerException</p>
        <p>@Model.Exception.StackTrace</p>
    </div>
</div>
