@using Lab.Management.Entities;
@using LabManagement.System.Common;

@model lmsInvestigationReport
@{
    ViewBag.Title = "Generate Investigation Summary";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var message = ViewBag.Message as string;


}


@if (!string.IsNullOrEmpty(message))
{
    <div class="row">
        <div class="col-sm-8 col-md-8 col-lg-8">
            <div class="alert alert-info">
                @message
            </div>
        </div>
    </div>
}


<div class="col-sm-10 col-md-10 col-lg-10 roundCornerDiv">
    <div id="canvasElement">

        <div class="row">
            <hr />
        </div>
        <div class="row">
            <div class="col-sm-10 col-md-10 col-lg-10 text-center">
                @Html.Partial("_HospitalDetail")
                <p><h4 class="text-info"><i class="glyphicon glyphicon-print"></i>Investigation Report</h4></p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8 col-md-8 col-lg-8" style="margin-left: 16%;" id="prntTableDiv">
                <table class="table table-striped  dataTable no-footer">
                    <tr>
                        <td class=" text-left  text-strong">
                            Name
                        </td>
                        <td class=" text-left">
                            <p>@Model.NAME</p>

                            @Html.HiddenFor(x => x.REPORTID)
                        </td>
                        @if (@Model.REPORTDATE.dateTimeIsNotNull())
                        {
                            <td class=" text-left  text-strong">
                                Date
                            </td>
                            <td class=" text-left">
                                <p>@Model.REPORTDATE.ParseIstDate()</p>
                            </td>
                        }
                    </tr>
                    @if (@Model.ALBUMIN.stringIsNotNull())
                    {
                        <tr>

                            <td colspan="2" class=" text-left text-strong">
                                Albumin :
                            </td>
                            <td colspan="2" class=" text-left">
                                <p>@Model.ALBUMIN</p>
                            </td>


                        </tr>
                    }
                    @if (@Model.URINESUGAR.stringIsNotNull())
                    {
                        <tr>
                            <td colspan="2" class=" text-left text-strong">
                                Urine  Sugar:
                            </td>
                            <td colspan="2" class=" text-left">
                                <p>@Model.URINESUGAR</p>
                            </td>

                        </tr>
                    }
                    @if (@Model.PUSCELL.stringIsNotNull())
                    {
                        <tr>
                            <td colspan="2" class=" text-left text-strong">
                                Pus Cell :
                            </td>
                            <td colspan="2" class=" text-left">
                                <p>@Model.PUSCELL</p>
                            </td>

                        </tr>
                    }
                    @if (@Model.RBC.stringIsNotNull())
                    {
                        <tr>
                            <td colspan="2" class=" text-left text-strong">
                                RBC :
                            </td>
                            <td colspan="2" class=" text-left">
                                <p>@Model.RBC</p>
                            </td>

                        </tr>
                    }
                    @if (@Model.EPTHELIALCELL.stringIsNotNull())
                    {
                        <tr>
                            <td colspan="2" class=" text-left text-strong">
                                Epthelial Cells :
                            </td>
                            <td colspan="2" class=" text-left">
                                <p>@Model.EPTHELIALCELL</p>
                            </td>
                        </tr>
                    }
                    @if (@Model.BLOODHAEMOGLOBIN.stringIsNotNull())
                    {
                        <tr>
                            <td colspan="2" class=" text-left text-strong">
                                Haemoglobin
                            </td>
                            <td colspan="2" class=" text-left">
                                <p>@Model.BLOODHAEMOGLOBIN</p>
                            </td>

                        </tr>
                    }
                    @if (@Model.GROUPINGRHTYPING.stringIsNotNull())
                    {
                        <tr>
                            <td colspan="2" class=" text-left text-strong">
                                Grouping & Rh Typing :
                            </td>
                            <td colspan="2" class=" text-left">
                                <p>@Model.GROUPINGRHTYPING</p>
                            </td>

                        </tr>
                    }
                    @if (@Model.BT.stringIsNotNull())
                    {
                        <tr>
                            <td colspan="2" class=" text-left text-strong">
                                BT :
                            </td>
                            <td colspan="2" class=" text-left">
                                <p>@Model.BT</p>
                            </td>

                        </tr>
                    }
                    @if (@Model.CT.stringIsNotNull())
                    {
                        <tr>
                            <td colspan="2" class=" text-left text-strong">
                                CT :
                            </td>
                            <td colspan="2" class=" text-left">
                                <p>@Model.CT</p>
                            </td>

                        </tr>
                    }
                    @if (@Model.PLATELET.stringIsNotNull())
                    {
                        <tr>
                            <td colspan="2" class=" text-left text-strong">
                                Platelet :
                            </td>
                            <td colspan="2" class=" text-left">
                                <p>@Model.PLATELET</p>
                            </td>

                        </tr>
                    }
                    @if (@Model.BLOODUREA.stringIsNotNull())
                    {
                        <tr>
                            <td colspan="2" class=" text-left text-strong">
                                Blood Urea :
                            </td>
                            <td colspan="2" class=" text-left">
                                <p>@Model.BLOODUREA</p>
                            </td>

                        </tr>
                    }
                    @if (@Model.SUGAR.stringIsNotNull())
                    {
                        <tr>
                            <td colspan="2" class=" text-left text-strong">
                                Blood Sugar(GCT) :
                            </td>
                            <td colspan="2" class=" text-left">
                                <p>@Model.SUGAR</p>
                            </td>

                        </tr>
                    }
                    @if (@Model.SRCREATININE.stringIsNotNull())
                    {
                        <tr>
                            <td colspan="2" class=" text-left text-strong">
                                Sr.Creatinine :
                            </td>
                            <td colspan="2" class=" text-left">
                                <p>@Model.SRCREATININE</p>
                            </td>

                        </tr>
                    }
                    @if (@Model.SRFREET3.stringIsNotNull())
                    {
                        <tr>
                            <td colspan="2" class=" text-left text-strong">
                                Sr. Free T3 :
                            </td>
                            <td colspan="2" class=" text-left">
                                <p>@Model.SRFREET3</p>
                            </td>

                        </tr>
                    }
                    @if (@Model.SRFREET4.stringIsNotNull())
                    {
                        <tr>
                            <td colspan="2" class=" text-left text-strong">
                                Sr. Free T4 :
                            </td>
                            <td colspan="2" class=" text-left">
                                <p>@Model.SRFREET4</p>
                            </td>

                        </tr>
                    }
                    @if (@Model.TSH.stringIsNotNull())
                    {
                        <tr>
                            <td colspan="2" class=" text-left text-strong">
                                TSH :
                            </td>
                            <td colspan="2" class=" text-left">
                                <p>@Model.TSH</p>
                            </td>

                        </tr>
                    }
                    @if (@Model.VDRL.stringIsNotNull())
                    {
                        <tr>
                            <td colspan="2" class=" text-left text-strong">
                                VDRL :
                            </td>
                            <td colspan="2" class=" text-left">
                                <p>@Model.VDRL</p>
                            </td>

                        </tr>
                    }
                    @if (@Model.HIV.stringIsNotNull())
                    {
                        <tr>
                            <td colspan="2" class=" text-left text-strong">
                                HIV :
                            </td>
                            <td colspan="2" class=" text-left">
                                <p>@Model.HIV</p>
                            </td>

                        </tr>
                    }
                    @if (@Model.HBSAG.stringIsNotNull())
                    {
                        <tr>
                            <td colspan="2" class=" text-left text-strong">
                                Hbs Ag:
                            </td>
                            <td colspan="2" class=" text-left">
                                <p>@Model.HBSAG</p>
                            </td>

                        </tr>
                    }
                    @if (@Model.HCV.stringIsNotNull())
                    {
                        <tr>
                            <td colspan="2" class=" text-left text-strong">
                                HCV :
                            </td>
                            <td colspan="2" class=" text-left">
                                <p>@Model.HCV</p>
                            </td>

                        </tr>
                    }
                    @if (@Model.COMMENTS.stringIsNotNull())
                    {
                        <tr>
                            <td colspan="2" class=" text-left text-strong">
                                Comments :
                            </td>
                            <td colspan="2" class=" text-left">
                                <p>@Model.COMMENTS</p>
                            </td>

                        </tr>
                    }

                </table>
            </div>
        </div>
        @if (Model.REPORTID > 0 && Model.HASADDITIONALREPORT.HasValue && Model.HASADDITIONALREPORT.Value)
        {
            <div class="row">
                <div class="col-sm-2 col-md-2 col-lg-2">
                    Additional Report
                </div>
                <div class="col-sm-8 col-md-8 col-lg-8">
                    <p>
                        @Html.Raw(Model.ADDITIONALREPORT)
                    </p>
                   
                </div>
            </div>
        }
        <div class="row">
            <div class="col-sm-10 col-md-10 col-lg-10  text-center" id="appendElements">
                @if (Model.REPORTID > 0)
                {
                    <a href="@Url.Action("ViewAllInvestigationReport", "Invoice", new { ReportId = Model.REPORTID })" id="btnBack" class="btn btn-danger">
                        <i class="glyphicon glyphicon-arrow-left">
                            Back
                        </i>
                    </a>
                    <button type="button" class="btn btn-primary" id="btnPrint">
                        <i class="glyphicon glyphicon-print"></i>
                        Print
                    </button>
                }
            </div>
        </div>
        <div class="row">

            <hr />
        </div>

    </div>
</div>
@section Scripts {

    <script type="text/javascript">

        $(document).ready(function () {
            $('#btnPrint').on('click', function () {
                var hideShowelements = [];
                hideShowelements.push('btnBack');
                hideShowelements.push('btnPrint');
                PrintCanvasDiv(hideShowelements, 'canvasElement');
            });

        });

    </script>
}




