@using Lab.Management.Entities;
@using LabManagement.System.Common;
@model lmsMedicalBilling
@{
    ViewBag.Title = "Generate Bill";
    Layout = "~/Views/Shared/_Layout.cshtml";

}


<div class="col-sm-8 col-md-8 col-lg-8 roundCornerDiv">
    <div id="canvasElement">
        <div class="row">
            <div class="col-sm-10 col-md-10 col-lg-10 text-center">
                @Html.Partial("_HospitalDetail")
                <p><h4 class="text-info"><i class="glyphicon glyphicon-print"></i>Medical Bill</h4></p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8 col-md-8 col-lg-8">
                <table class="table no-footer">
                    <tbody>
                        <tr>
                            <td class="text-strong">Name :</td>
                            <td><span style="font-weight:normal">@Model.BILLNAME</span></td>
                            <td class="text-strong">Contact :</td>
                            <td>@Model.CONTACT</td>
                        </tr>
                        <tr>
                            <td class="text-strong">Bill# :</td>
                            <td><span style="font-weight:normal">@string.Format("MB{0} ", @Model.BILLID)</span></td>
                            <td class="text-strong">Bill Date :</td>
                            <td>@Model.BILLDATE.ParseIstDate()</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    
        <div class="row">
            <div class="col-sm-8 col-md-8 col-lg-8">
                <table class="table dataTable no-footer">
                    <thead>
                        <tr>
                            <td class="text-strong">Particulars</td>
                            <td class="text-strong">Quantity</td>
                            @*<td class="text-strong">Exp.Date</td>*@
                            <td class="text-right text-strong">
                                Price
                            </td>

                        </tr>

                    </thead>
                    <tbody>
                        @foreach (var bill in Model.lmsMedicalBillingDetails)
                        {
                            <tr>
                                <td>
                                    @bill.lmsDrug.DRUGNAME
                                </td>
                                <td>
                                    @bill.QUANTITY
                                </td>
                                @*<td>
                                        @bill.lmsDrug.EXPIRYDATE.ParseIstDate()
                                    </td>*@
                                <td class="text-right">
                                    @bill.ITEMCOST
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <table class="table dataTable no-footer">
                    <tbody>

                        <tr>
                            <td class="text-right">
                                <strong>Total:</strong>  @Model.BILLAMOUNT
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
            <div class="row">

                <div class="col-sm-8 col-md-8 col-lg-8 text-center" id="appendElements">
                    <a href="@Url.Action("ViewAllMedicalBill", "Invoice")" class="btn btn-warning" id="btnBack">
                        <i class="glyphicon glyphicon-arrow-left">
                            Back
                        </i>
                    </a>
                    <button type="button" class="btn btn-primary" id="btnPrint">
                        <i class="glyphicon glyphicon-print"></i>
                        Print
                    </button>

                </div>
            </div>
           

        </div>
    </div>
</div>
@section Scripts {

    <script type="text/javascript">

        $(document).ready(function () {
            $('#btnPrint').on('click', function () {
                var hideShowelements = [];
                hideShowelements.push('btnBack');
                hideShowelements.push('btnPrint');
                PrintCanvasDiv(hideShowelements, 'canvasElement');
            });

        });

    </script>
}
