@using Lab.Management.Entities;
@using LabManagement.System.Common;
@using Lab.Management.Common;
@model lmsMedicalBilling
@{
    ViewBag.Title = "Generate Bill";
    Layout = "~/Views/Shared/_Layout.cshtml";

}


<div class="col-sm-8 col-md-8 col-lg-8 roundCornerDiv">
    <div id="canvasElement">
        <div id="canvasPrintDiv">
            <div class="row">
                <div class="col-sm-10 col-md-10 col-lg-10 text-center">
                    @Html.Partial("_HospitalDetail")
                    <p><h4 class="text-info">Medical Bill</h4></p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8 col-md-8 col-lg-8">
                    <table class="table no-footer">
                        <tbody>
                            <tr>
                                <td class="text-strong">Name :</td>
                                <td><span style="font-weight:normal">@Model.BILLNAME</span></td>
                                <td class="text-strong">Contact :</td>
                                <td>@Model.CONTACT</td>
                            </tr>
                            <tr>
                                <td class="text-strong">Bill# :</td>
                                <td><span style="font-weight:normal">@string.Format("MB{0} ", @Model.BILLID)</span></td>
                                <td class="text-strong">Bill Date :</td>
                                <td>@Model.BILLDATE.ParseIstDate()</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-8 col-md-8 col-lg-8">
                    <table class="table dataTable no-footer">
                        <thead>
                            <tr>
                                <td class="text-strong">Particulars</td>
                                <td class="text-strong">Quantity</td>
                                <td class="text-right text-strong">
                                    Price
                                </td>
                                <td class="text-right text-strong">
                                    Tax
                                </td>

                            </tr>

                        </thead>
                        <tbody>
                            @foreach (var bill in Model.lmsMedicalBillingDetails)
                            {
                                <tr>
                                    <td>
                                        @bill.lmsDrug.DRUGNAME
                                    </td>
                                    <td>
                                        @bill.QUANTITY
                                    </td>
                                    <td class="text-right">
                                        @bill.ITEMCOST
                                    </td>
                                    <td class="text-right">
                                        @if (bill.TAXAMOUNT.HasValue && bill.TAXAMOUNT.Value > 0)
                                        {
                                            <div>@bill.TAXAMOUNT</div>
                                        }
                                        else
                                        {
                                            <div>N/A</div>
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <table class="table dataTable no-footer">
                        <tbody>

                            <tr>
                                <td class="text-right">
                                    <strong>Total:</strong>  @Model.BILLAMOUNT
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
                <div class="row">

                    <div class="col-sm-8 col-md-8 col-lg-8 text-center" id="appendElements">
                        <a href="@Url.Action("ViewAllMedicalBill", "Invoice")" class="btn btn-warning" id="btnBack">
                            <i class="glyphicon glyphicon-arrow-left">
                                Back
                            </i>
                        </a>
                        <button type="button" class="btn btn-primary" id="btnDownload">
                            <i class="glyphicon glyphicon-download"></i>
                            Download and Share
                        </button>


                    </div>
                </div>


            </div>
        </div>
    </div>
</div>
@section Scripts {

    <script type="text/javascript">

        $(document).ready(function () {

            $('#btnDownload').on('click', function () {
                downloadBill();
            });
            function downloadBill() {
                 var headerSection = {
                    name: '@ConfigurationWrapper.StringSettings(ConfigKey.HospitalName)',
                    address: '@ConfigurationWrapper.StringSettings(ConfigKey.HospitalAddress)',
                    contact: '@ConfigurationWrapper.StringSettings(ConfigKey.HospitalContact)',
                    email: '@ConfigurationWrapper.StringSettings(ConfigKey.HospitalEmail)'
                };
                var patientDetails = {
                    name: '@Model.BILLNAME',
                    billNo: '@string.Format("MB{0} ", @Model.BILLID)',
                    contact: '@Model.CONTACT',
                    billDate: '@Model.BILLDATE.ParseIstDate()', billTotal: '@Model.BILLAMOUNT'
                };
                var medicalBillColumns = [
                    { title: "Particulars", dataKey: "ItemName" },
                    { title: "Quantity", dataKey: "Quantity" },
                    { title: "UnitPrice", dataKey: "UnitPrice" }
                ];
                var detailUrl = "@Url.Action("GetDetailListByBillId", "Invoice")" + '?medicalBillId=' + '@Model.BILLID' ;
                     $.ajax({
                    url: detailUrl,
                    type: "GET",
                         success: function (result) {
                       var printJson = result;
                       var fileNameWithoutExtension = '@Model.BILLNAME' + '_' + '@Model.BILLDATE.ParseIstDate()';
                       generatePDF(headerSection, patientDetails, medicalBillColumns, printJson, fileNameWithoutExtension);
                    },
                    error: function (result) {
                        alert("Failed");
                    }
                });
            }
        });

    </script>
}
