@using Lab.Management.Entities;
@using LabManagement.System.Common;
@model lmsDischargeBill
@{
    ViewBag.Title = "Generate Discharge Bill";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var message = ViewBag.Message as string;
}

@if (!string.IsNullOrEmpty(message))
{
    <div class="row">
        <div class="col-sm-8 col-md-8 col-lg-8">
            <div class="alert alert-info">
                @message
            </div>
        </div>
    </div>
}


<div class="col-sm-10 col-md-10 col-lg-10 roundCornerDiv">

    <div id="canvasElement">


        <div class="row">
            <hr />
        </div>
        <div class="row">
            <div class="col-sm-10 col-md-10 col-lg-10 text-center">
                @Html.Partial("_HospitalDetail")
                <p><h4 class="text-info"><i class="glyphicon glyphicon-print"></i>Discharge Bill</h4></p>
                
            </div>
        </div>
        <div class="row">
            <hr />
        </div>
        <div class="row">
            <div class="col-sm-10 col-md-10 col-lg-10 text-center">
                <table class="table table-striped table-bordered dataTable no-footer">
                    <tr>
                        <td class=" text-left  text-strong">
                            <strong>Name</strong>
                        </td>
                        <td class=" text-left">
                            @Model.lmsPatientRegistration.PATIENTNAME
                        </td>
                        <td class=" text-left">
                            <strong>Discharge Date</strong>
                        </td>
                        <td class=" text-left">
                            @Model.DATEOFDISCHARGE.ParseIstDate()
                        </td>
                    </tr>
                    @if (Model.NOOFDAYSTAY.intIsNotNull())
                    {
                        <tr>


                            <td class=" text-left">
                                <strong>No. of Days Stay</strong>
                            </td>
                            <td class=" text-left" colspan="3">
                                @Model.NOOFDAYSTAY.Value
                            </td>

                        </tr>
                    }
                    @if (Model.OPERATINGDOCTOR.stringIsNotNull())
                    {
                        <tr>

                            <td class=" text-left">
                                <strong>
                                    Consulting Doctor
                                </strong>
                            </td>
                            <td class=" text-left" colspan="3">
                                @Model.OPERATINGDOCTOR
                            </td>


                        </tr>
                    }
                    @if (Model.OPERATIONCHARGE.doubleIsNotNull())
                    {
                        <tr>


                            <td class=" text-left">
                                <strong>Doctor Fees</strong>
                            </td>
                            <td class=" text-left" colspan="3">
                                @Model.OPERATIONCHARGE.parseNullDouble()
                            </td>

                        </tr>
                    }
                    @if (@Model.BEDORROOMCHARGE.doubleIsNotNull())
                    {
                        <tr>
                            <td class=" text-left"><strong>Room Rent</strong></td>
                            <td class=" text-left" colspan="3">
                                @{
                        var roomRentValue = (Model.BEDORROOMCHARGE.Value * (Model.NOOFDAYSTAY.intIsNotNull() ? Model.NOOFDAYSTAY.Value : 1));
                        <label>@string.Format("{0} (Room Rent {1} * No of Days Stay {2})", roomRentValue, Model.BEDORROOMCHARGE.parseNullDouble(), Model.NOOFDAYSTAY.parseNullInt())</label>
                                }
                            </td>
                        </tr>
                    }
                    @if (@Model.BEDORROOMCHARGE.doubleIsNotNull())
                    {
                        <tr>
                            <td class=" text-left">
                                <strong>Room Charge</strong>
                            </td>
                            <td class=" text-left" colspan="3">@Model.BEDORROOMCHARGE.Value</td>
                        </tr>
                    }
                    @if (@Model.NURSECHARGE.doubleIsNotNull())
                    {
                        <tr>
                            <td class=" text-left">
                                <strong>Nursing Charge</strong>
                            </td>
                            <td class=" text-left" colspan="3">@Model.NURSECHARGE.Value</td>
                        </tr>
                    }
                    @if (@Model.OTHERSERVICECHARGE.doubleIsNotNull())
                    {
                        <tr>
                            <td class=" text-left">
                                <strong>House Keeping Charge</strong>
                            </td>
                            <td class=" text-left" colspan="3">@Model.OTHERSERVICECHARGE.Value</td>
                        </tr>
                    }
                    @if (@Model.SPECILISTDOCTORCHARGE.doubleIsNotNull())
                    {
                        <tr>
                            <td class=" text-left">
                                <strong>Visiting Consultant Fees</strong>
                            </td>
                            <td class=" text-left" colspan="3">@Model.SPECILISTDOCTORCHARGE.Value</td>
                        </tr>
                    }
                    @if (@Model.LABOURROOMCHARGE.doubleIsNotNull())
                    {
                        <tr>
                            <td class=" text-left">
                                <strong>Labour Room Charge</strong>
                            </td>
                            <td class=" text-left" colspan="3">@Model.LABOURROOMCHARGE.Value</td>
                        </tr>
                    }
                    @if (@Model.PAEDIATRICIANRESUSTFEE.doubleIsNotNull())
                    {
                        <tr>
                            <td class=" text-left">
                                <strong>Paediatrician Resuscitation Fees</strong>
                            </td>
                            <td class=" text-left" colspan="3">@Model.PAEDIATRICIANRESUSTFEE.Value</td>
                        </tr>
                    }
                    @if (@Model.WARMERPLUSO2CHARGE.doubleIsNotNull())
                    {
                        <tr>
                            <td class=" text-left">
                                <strong>Warmer+O2</strong>
                            </td>
                            <td class=" text-left" colspan="3">@Model.WARMERPLUSO2CHARGE.Value</td>
                        </tr>
                    }
                    @if (@Model.OPERATIONTHEATERCHARGE.doubleIsNotNull())
                    {
                        <tr>
                            <td class=" text-left">
                                <strong>Operation Theater Fees</strong>
                            </td>
                            <td class=" text-left" colspan="3">@Model.OPERATIONTHEATERCHARGE.Value</td>
                        </tr>
                    }
                    @if (@Model.ANAESTHESIACHARGE.doubleIsNotNull())
                    {
                        <tr>
                            <td class=" text-left">
                                <strong>Anaesthetist Fees</strong>
                            </td>
                            <td class=" text-left" colspan="3">@Model.ANAESTHESIACHARGE.Value</td>
                        </tr>
                    }
                    @if (@Model.PAEDIATRICIANFEE.doubleIsNotNull())
                    {
                        <tr>
                            <td class=" text-left">
                                <strong>Paediatrician Visiting Fees</strong>
                            </td>
                            <td class=" text-left" colspan="3">@Model.PAEDIATRICIANFEE.Value</td>
                        </tr>
                    }
                    @if (@Model.OXYGENFEE.doubleIsNotNull())
                    {
                        <tr>
                            <td class=" text-left">
                                <strong>Oxygen Fees</strong>
                            </td>
                            <td class=" text-left" colspan="3">@Model.OXYGENFEE.Value</td>
                        </tr>
                    }
                    @if (@Model.PHOTOTHERAPYFEE.doubleIsNotNull())
                    {
                        <tr>
                            <td class=" text-left">
                                <strong>Phototherapy Fees</strong>
                            </td>
                            <td class=" text-left" colspan="3">@Model.PHOTOTHERAPYFEE.Value</td>
                        </tr>
                    }
                    @if (@Model.COMMENTS.stringIsNotNull())
                    {
                        <tr>
                            <td class=" text-left">
                                <strong>Comments</strong>
                            </td>
                            <td class=" text-left" colspan="3">@Model.COMMENTS</td>
                        </tr>
                    }
                    <tr>
                        <td class=" text-left"><strong>Other fee if any </strong></td>
                        <td class=" text-left" colspan="3">
                            <input type="text" />
                        </td>
                    </tr>
                    <tr>
                        <td class=" text-left"><strong>Grand Total : </strong></td>
                        <td class=" text-left" colspan="3">
                            <input type="text" />
                        </td>
                    </tr>

                </table>
            </div>

        </div>


        <hr />
        <div class="row">

            <div class="col-sm-8 col-md-8 col-lg-8 text-center" id="appendElements">
                <a href="@Url.Action("ViewAllDischargeBill", "Invoice")" class="btn btn-warning" id="btnBack">
                    <i class="glyphicon glyphicon-arrow-left">
                        Back
                    </i>
                </a>
                <button type="button" class="btn btn-primary" id="btnPrint">
                    <i class="glyphicon glyphicon-print"></i>
                    Print
                </button>

            </div>
        </div>
    </div>

</div>
@section Scripts {

    <script type="text/javascript">

        $(document).ready(function () {
            $('#btnPrint').on('click', function () {
                var hideShowelements = [];
                hideShowelements.push('btnBack');
                hideShowelements.push('btnPrint');
                PrintCanvasDiv(hideShowelements, 'canvasElement');
            });

        });
    </script>
}
