@using Lab.Management.Entities;
@using LabManagement.System.Common;
@model lmsLaboratoryBilling
@{
    ViewBag.Title = "Generate Bill";
    Layout = "~/Views/Shared/_Layout.cshtml";

}


<div class="col-sm-8 col-md-8 col-lg-8 roundCornerDiv">

    <div id="canvasElement">
        <div class="row">
            <div class="col-sm-10 col-md-10 col-lg-10 text-center">
                @Html.Partial("_HospitalDetail")
                <p><h4 class="text-info"><i class="glyphicon glyphicon-print"></i>Lab Bill</h4></p>
            </div>
        </div>
        <hr />
        <div class="row marg-left-15">
            <div class="col-sm-2 col-md-2 col-lg-2 text-left text-nowrap">
                <strong>Name </strong>

            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 text-left text-nowrap">
                <span style="font-weight:normal">@Model.BILLNAME</span>

            </div>

            <div class="col-sm-2 col-md-2 col-lg-2 text-left text-nowrap">
                <strong>Contact : </strong>

            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 text-left text-nowrap">
                <span style="font-weight:normal">@Model.CONTACT</span>

            </div>

        </div>
        <div class="row marg-left-15">
            <div class="col-sm-2 col-md-2 col-lg-2 text-left text-nowrap">
                <strong>Bill# : </strong>

            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 text-left text-nowrap">
                <span style="font-weight:normal">@string.Format("VPCMB{0} ", @Model.BILLID)</span>

            </div>

            <div class="col-sm-2 col-md-2 col-lg-2 text-left text-nowrap">
                <strong>Bill Date : </strong>

            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 text-left text-nowrap">
                <span style="font-weight:normal">@Model.BILLDATE.ParseIstDate()</span>

            </div>

        </div>
        <hr />
        <div class="row">
            <div class="col-sm-8 col-md-8 col-lg-8">
                <table class="table table-striped table-bordered dataTable no-footer">
                    <thead>
                        <tr>
                            <td class="text-left text-strong">Particulars</td>
                            <td class="text-left text-strong">Result</td>

                            @*<td>Approxx.Range Below 10 Years</td>
                                <td>Approxx.Range For Adults</td>*@
                            <td class="text-right text-strong">Price</td>
                        </tr>

                    </thead>
                    <tbody>
                        @foreach (var bill in Model.lmsLaboratoryBillingDetails)
                        {
                            <tr>
                                <td class="text-left ">
                                    @bill.lmsMedicalTest.TESTNAME
                                </td>
                                <td class="text-left ">
                                    @bill.TESTRESULT
                                </td>

                                @*<td>
                                        <i> <b> @string.Format("Min : {0} - Max :{1}", @bill.lmsMedicalTest.MINAPPROXRANGEBELOW10AGE, @bill.lmsMedicalTest.MAXAPPROXRANGEBELOW10AGE)</b></i>
                                    </td>
                                    <td>
                                        <i> <b> @string.Format("Min : {0} - Max :{1}", @bill.lmsMedicalTest.MINAPPROXRANGEBELOWADULT, @bill.lmsMedicalTest.MAXAPPROXRANGEBELOWADULT)</b></i>
                                    </td>*@
                                <td class="text-right">
                                    @bill.ITEMCOST
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <table class="table table-striped table-bordered dataTable no-footer">
                    <tbody>

                        <tr>
                            <td class="text-right ">
                                <strong>Total: </strong> @Model.BILLAMOUNT
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>

            <hr />
            <div class="row">

                <div class="col-sm-8 col-md-8 col-lg-8 text-center" id="appendElements">
                    <a href="@Url.Action("ViewAllLaboratoryBilling", "Invoice")" class="btn btn-warning" id="btnBack">
                        <i class="glyphicon glyphicon-arrow-left">
                            Back
                        </i>
                    </a>
                    <button type="button" class="btn btn-primary" id="btnPrint">
                        <i class="glyphicon glyphicon-print"></i>
                        Print
                    </button>

                </div>
            </div>
            <div class="row">

                <hr />
            </div>

        </div>
    </div>
</div>
@section Scripts {

    <script type="text/javascript">

        $(document).ready(function () {
            $('#btnPrint').on('click', function () {
                var hideShowelements = [];
                hideShowelements.push('btnBack');
                hideShowelements.push('btnPrint');
                PrintCanvasDiv(hideShowelements, 'canvasElement');
            });

        });

    </script>
}
