@using Lab.Management.Entities;

@model lmsUltrSonogramReportTwo
@{
    ViewBag.Title = "View Sonography Summary Two";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var message = ViewBag.Message as string;

}


@if (!string.IsNullOrEmpty(message))
{
    <div class="row">
        <div class="col-sm-8 col-md-8 col-lg-8">
            <div class="alert alert-info">
                @message
            </div>
        </div>
    </div>
}


<div class="col-sm-10 col-md-10 col-lg-10 roundCornerDiv">

    @using (Html.BeginForm("EditUltraSonagramReportTwo", "Invoice", new { @id = "IdEdit", @name = "EditForm" }))
    {
        <div class="row">
            <hr />
        </div>
        <div class="row">
            <div class="col-sm-10 col-md-10 col-lg-10 text-center">
                @Html.Partial("_HospitalDetail")
                <p><h4 class="text-success"><i class="glyphicon glyphicon-hand-right"> </i> Ultra Sonogram Report Two</h4></p>
            </div>
        </div>
        <div class="row">
            <hr />
        </div>
        <div class="row">
            <div class="col-sm-2 col-md-2 col-lg-2">
                Name
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3">
                @Html.TextBoxFor(m => m.NAME, new { @class = "form-control", required = "required" })

                @Html.HiddenFor(x => x.REPORTID)
            </div>

            <div class="col-sm-2 col-md-2 col-lg-2">
                Age
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3">
                @Html.TextBoxFor(m => m.AGE, new { @class = "form-control", required = "required" })
            </div>
        </div>

        <div class="row">
            <div class="col-sm-2 col-md-2 col-lg-2">
                IPNO
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3">

                @Html.TextBoxFor(m => m.IPNO, new { @class = "form-control" })
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2">

                Obstetric Code
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3">
                @Html.TextBoxFor(m => m.OBSTERICCODE, new { @class = "form-control" })

            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 col-md-2 col-lg-2">
                LMP
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3">
                @Html.TextBoxFor(m => m.LMP, new { @class = "form-control" })

            </div>
            <div class="col-sm-2 col-md-2 col-lg-2">
                EDD
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3">
                @Html.TextBoxFor(m => m.EDD, new { @class = "form-control" })
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 col-md-2 col-lg-2">
                BPD
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3">
                @Html.TextBoxFor(m => m.BPD, new { @class = "form-control" })

            </div>
            <div class="col-sm-2 col-md-2 col-lg-2">

            </div>
            <div class="col-sm-3 col-md-3 col-lg-3">

            </div>
        </div>

        <div class="row">
            <div class="col-sm-2 col-md-2 col-lg-2">
                HC
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3">
                @Html.TextBoxFor(m => m.HC, new { @class = "form-control" })

            </div>
            <div class="col-sm-2 col-md-2 col-lg-2">

            </div>
            <div class="col-sm-3 col-md-3 col-lg-3">

            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 col-md-2 col-lg-2">
                FL
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3">
                @Html.TextBoxFor(m => m.FL, new { @class = "form-control" })

            </div>
            <div class="col-sm-2 col-md-2 col-lg-2">

            </div>
            <div class="col-sm-3 col-md-3 col-lg-3">

            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 col-md-2 col-lg-2">
                AC
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3">
                @Html.TextBoxFor(m => m.AC, new { @class = "form-control" })

            </div>
            <div class="col-sm-2 col-md-2 col-lg-2">

            </div>
            <div class="col-sm-3 col-md-3 col-lg-3">

            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 col-md-2 col-lg-2">
                AFI
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3">
                @Html.TextBoxFor(m => m.AFI, new { @class = "form-control" })

            </div>
            <div class="col-sm-2 col-md-2 col-lg-2">

            </div>
            <div class="col-sm-3 col-md-3 col-lg-3">

            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 col-md-2 col-lg-2">
                PLACENTA
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3">
                @Html.TextBoxFor(m => m.PLACENTA, new { @class = "form-control" })

            </div>
            <div class="col-sm-2 col-md-2 col-lg-2">

            </div>
            <div class="col-sm-3 col-md-3 col-lg-3">

            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 col-md-2 col-lg-2">
                WEIGHT
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3">
                @Html.TextBoxFor(m => m.PWEIGHT, new { @class = "form-control" })

            </div>
            <div class="col-sm-2 col-md-2 col-lg-2">

            </div>
            <div class="col-sm-3 col-md-3 col-lg-3">

            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 col-md-2 col-lg-2">
                PRESENTATION
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3">
                @Html.TextBoxFor(m => m.PRESENTATION, new { @class = "form-control" })

            </div>
            <div class="col-sm-2 col-md-2 col-lg-2">

            </div>
            <div class="col-sm-3 col-md-3 col-lg-3">

            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 col-md-2 col-lg-2">
                IMPRESSION
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3">
                @Html.TextAreaFor(m => m.IMPRESSION, new { @class = "form-control" })

            </div>
            <div class="col-sm-2 col-md-2 col-lg-2">

            </div>
            <div class="col-sm-3 col-md-3 col-lg-3">

            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-sm-10 col-md-10 col-lg-10">
                <a href="@Url.Action("ViewAllUltraSonagramReportTwo", "Invoice")" class="btn btn-warning">
                    <i class="glyphicon glyphicon-arrow-left">
                        Back
                    </i>
                </a>
                <button type="submit" class="btn btn-primary">
                    <i class="glyphicon glyphicon-pencil">
                        Save
                    </i>
                </button>
                @if (Model.REPORTID > 0)
                {
                    <a href="@Url.Action("DeleteUltraSonagramReportTwo", "Invoice", new { ReportId = Model.REPORTID })" class="btn btn-danger">
                        <i class="glyphicon glyphicon-trash"></i>
                        Delete
                    </a>
                    <a href="@Url.Action("GenerateUltraSonagramReportTwo", "Invoice", new { ReportId = Model.REPORTID })" class="btn btn-info">
                        <i class="glyphicon glyphicon-th-large"></i>
                        Generate Sonogram
                    </a>
                }
            </div>
        </div>
        <div class="row">

            <hr />
        </div>
    }
</div>
