@using Lab.Management.Entities;
@model lmsMedicalBilling
@{
    ViewBag.Title = "New Medical Bill";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var message = ViewBag.Message as string;
    var drugddl = ViewBag.DrugList as IEnumerable<SelectListItem>;
    //var patientddl = ViewBag.PatientList as IEnumerable<SelectListItem>;
}
@if (!string.IsNullOrEmpty(message))
{
    <div class="row">
        <div class="col-sm-8 col-md-8 col-lg-8">
            <div class="alert alert-info">
                @message
            </div>
        </div>
    </div>
}
<div class="col-sm-10 col-md-10 col-lg-10 roundCornerDiv">
    <div class="row">
        <h4 class="text-success"><i class="glyphicon glyphicon-hand-right"> </i> Bill Details</h4>
        <hr/>
    </div>
    <div class="col-sm-10 col-md-10 col-lg-10">
        @*<div class="row">
            <div class="col-sm-3 col-md-3 col-lg-3">
                Select Patient Name
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4">
                <select class="selectpicker" data-live-search="true" id="Idpatientddl">
                    @foreach (var dropdown in patientddl)
                    {
                        <option data-tokens="@dropdown.Text" value="@dropdown.Value">@dropdown.Text</option>
                    }
                </select>
            </div>
        </div>
        <hr/>*@
        <div class="row">
            <div class="col-sm-3 col-md-3 col-lg-3">
                Bill Name
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4">
                @Html.TextBoxFor(m => m.BILLNAME, new { @Id = "BILLNAME", @class = "form-control", required = "required" })
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3 col-md-3 col-lg-3">
                Contact
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4">
                @Html.TextBoxFor(m => m.CONTACT, new { @Id = "CONTACT", @class = "form-control", required = "required" })
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-10 col-md-10 col-lg-10">
                <table id="tableDrug" class="table table-striped table-bordered dataTable no-footer">
                    <thead>
                        <tr>
                            <th>
                                Drug Name
                            </th>
                            <th>
                                Quantity
                            </th>
                            <th>
                                Cost
                            </th>
                            <th>
                                Tax Amount
                            </th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
                <table class="table table-striped table-bordered dataTable no-footer">
                    <tbody>
                        <tr>
                            <td class="text-right">
                                Total:<span id="idTotal"> </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 col-md-4 col-lg-4">
                <select class="selectpicker" data-live-search="true" id="Iddrugddl">
                    @foreach (var dropdown in drugddl)
                    {
                        <option data-tokens="@dropdown.Text" value="@dropdown.Value">@dropdown.Text</option>
                    }
                </select>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2">
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2">
                <input type="number" class="form-control" id="Idquantity"/>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2">
                <button class="btn btn-success" id="btnAddDrug">
                    <i class="glyphicon glyphicon-plus">
                        Add
                    </i>
                </button>
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="col-sm-8 col-md-8 col-lg-8">
                <a href="@Url.Action("ViewAllMedicalBill", "Invoice")" class="btn btn-warning">
                    <i class="glyphicon glyphicon-arrow-left">
                        Back
                    </i>
                </a>
                <button type="button" class="btn btn-primary" id="btnSave">
                    <i class="glyphicon glyphicon-floppy-disk"></i>
                    Save
                </button>
                @if (Model.BILLID > 0)
                {
                    <a href="@Url.Action("DeleteMedicalBill", "Invoice", new { MedicalBillId = @Model.BILLID })" class="btn btn-danger">
                        <i class="glyphicon glyphicon-trash">
                            Delete
                        </i>
                    </a>

                    <a href="@Url.Action("GenerateBill", "Invoice", new { MedicalBillId = @Model.BILLID })" class="btn btn-danger">
                        <i class="glyphicon glyphicon-th-large">
                            View Generated Bill
                        </i>
                    </a>
                }
            </div>
        </div>
        <div class="row">
            <hr/>
        </div>
    </div>
</div>
@section Scripts {
    <script type="text/javascript">

        $(document).ready(function () {

            $('#btnSave').removeAttr('disabled');
            var alreadyAddedDrugs = [];
            //$('#Idpatientddl').on('change', function () {
            //    var patientddl = $('#Idpatientddl option:selected').text();
            //    var indexStart = patientddl.indexOf('-') + 1;
            //    var indexEnd = patientddl.lastIndexOf('(');
            //    if (indexStart > -1 && indexEnd > -1) {
            //      patientddl = patientddl.substring(indexStart, indexEnd);
            //    }
            //    $('#BILLNAME').val(patientddl);

            //});

            var drugDetails = [];

            $('#btnAddDrug').on('click', function () {
                var drugId = $('#Iddrugddl').val();
                if (alreadyAddedDrugs.indexOf(drugId) > -1) {
                    alert("Medicine Already available in bill list.Please change medicine to continue.")
                    return;
                }
                var drugId = $('#Iddrugddl').val();
                var quantity = $('#Idquantity').val();
                var validationAlert = validatefields();
                if (validationAlert === "") {

                    $('#btnAddDrug').attr('disabled', 'disabled');
                    getDrugInfo(drugId, quantity);

                    return;
                }
                alert(validationAlert);
            });

            function listenRemove() {
                $(".btn-sm").on('click', function () {
                    var btnId = this.id;
                    var drugId = btnId.split('_');
                    if (drugId.length > 0) {
                        var indexofDrugId = alreadyAddedDrugs.indexOf(drugId);
                        alreadyAddedDrugs.splice(indexofDrugId, 1);
                        $(this).parents("tr").remove();
                        calculateTotal();
                    }

                });
            }
            $('#btnSave').on('click', function () {
                $('#btnSave').attr('disabled', 'disabled');
                saveDrugBills();
            });

            function validatefields() {
                var message = "";
                if ($('#BILLNAME').val() === "") {
                    message = "Please enter name";
                }
                else if ($('#CONTACT').val() === "") {
                    message = "Please enter contact";
                }
                else if ($('#Idquantity').val() === "") {
                    message = "Please enter result";
                }
                return message;

            }
            function calculateTotal() {
                //idTotal
                var subTotal = 0.00;
                $("#tableDrug tr").each(function (e) {
                    var tblRow = $(this)
                    var rowId = tblRow.length > 0 ? tblRow[0].id : '';
                    if (rowId != undefined && rowId !== "") {
                        var drugId = rowId.split('_');
                        if (drugId.length > 0) {
                            var cost = $("#txtPrice_" + drugId[1].replace(/"/g, '')).val();
                            var taxAmount = $("#txtTaxAmount_" + drugId[1].replace(/"/g, '')).val();
                            subTotal = subTotal + parseFloat(cost) + parseFloat(taxAmount);

                        }
                    }
                });
                $('#idTotal').text(subTotal);
            }
            function saveDrugBills() {
                drugDetails = [];
                $("#tableDrug tr").each(function (e) {
                    var tblRow = $(this)
                    var rowId = tblRow.length > 0 ? tblRow[0].id : '';
                    if (rowId != undefined && rowId !== "") {
                        var drugId = rowId.split('_');
                        if (drugId.length > 0) {
                            var quantity = $("#txtQuantity_" + drugId[1].replace(/"/g, '')).val();
                            var cost = $("#txtPrice_" + drugId[1].replace(/"/g, '')).val();
                            var taxAmount = $("#txtTaxAmount_" + drugId[1].replace(/"/g, '')).val();
                            if (taxAmount === null || taxAmount === undefined) {
                                taxAmount = 0;
                            }
                            drugDetails.push({ 'DRUGID': drugId[1].replace(/"/g, ''), 'QUANTITY': quantity, 'COST': cost,'TAXAMOUNT':taxAmount });

                        }
                    }
                });
                var billInfo = { 'BILLNAME': $('#BILLNAME').val(), 'CONTACT': $('#CONTACT').val() };
                var postData = { objDrugBill: billInfo, objDrugBillDetails: drugDetails };
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("SaveBillInfo")",
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify(postData),
                    success: function (data) {
                        window.location.href = "GenerateBill?MedicalBillId=" + data;
                    },
                    failure: function (errMsg) {
                        $('#btnSave').removeAttr('disabled');
                        alert('failure' + errMsg);
                    }
                });
            }
            function getDrugInfo(drugId, quantity) {
                $.ajax({
                    url: '@Url.Action("GetDrugDetailById", "Invoice")',
                    type: "GET",
                    data: { "drugId": drugId, "quantity": quantity },
                    success: function (result) {
                        var newtableRow = '<tr id=tr_"' + drugId + '"><td>' + result.DRUGNAME + '</td><td><input type="text" value="' + quantity + '" id="txtQuantity_' + drugId + '" style="color: black;" readonly /></td><td><input type="text" value="' + result.SELLINGPRICE + '" id="txtPrice_' + drugId + '" style="color: black;width:70%;" readonly /><td><input type="text" value="' + result.TAXAMOUNT + '" id="txtTaxAmount_' + drugId + '" style="color: black;width:40%;" readonly /><button id="btnRemove_' + drugId + '" name="btnRemove" type="button" class="btn btn-sm btn-danger lms-btn-bottom-margin"><i class="glyphicon glyphicon-minus"></i></button></td></tr>';
                        $('#tableDrug tbody').append(newtableRow);
                        $('#btnAddDrug').removeAttr('disabled');
                        alreadyAddedDrugs.push(drugId);
                        listenRemove();
                        calculateTotal();

                    },
                    error: function (result) {
                        $('#btnAddDrug').removeAttr('disabled');
                        alert("Failed");
                    }
                });
            }

        });
    </script>
}
