@using Lab.Management.Entities;
@model lmsGynacDischargeSummary
@{
    ViewBag.Title = "View Gynac Discharge Summary";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var message = ViewBag.Message as string;
}
@if (!string.IsNullOrEmpty(message))
{
    <div class="row">
        <div class="col-sm-8 col-md-8 col-lg-8">
            <div class="alert alert-info">
                @message
            </div>
        </div>
    </div>
}


<div class="col-sm-10 col-md-10 col-lg-10 roundCornerDiv">

    @using (Html.BeginForm("EditGynacDischargeSummary", "Invoice", new { @id = "IdEdit", @name = "EditForm" }))
    {
        <div class="row">
            <hr />
        </div>
        <div class="row">
            <div class="col-sm-10 col-md-10 col-lg-10 text-center">
                <div class="col-sm-10 col-md-10 col-lg-10 text-center">
                    @Html.Partial("_HospitalDetail")
                    <p><h4 class="text-success"><i class="glyphicon glyphicon-hand-right"> </i>GYNAEC Discharge Summary</h4></p>
                </div>
            </div>
        </div>
        <div class="row">
            <hr />
        </div>
        <div class="row">
            <div class="col-sm-2 col-md-2 col-lg-2">
                Name
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3">

                @Html.DropDownListFor(x => x.SelectedPatient, Model.PatientDdl, new { @class = "form-control selectpicker", required = "required" })

                @Html.HiddenFor(x => x.SUMMARYID)
            </div>
            <div class="col-sm-1 col-md-1 col-lg-1">
                @*Age*@
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2">
                @*@Html.LabelFor(m => m.lmsPatientRegistration.AGE, new { @class = "form-control" })*@
            </div>
            <div class="col-sm-1 col-md-1 col-lg-1">
                @*IPNO*@
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2">
                @*@Html.TextBoxFor(m => m.IPNO, new { @class = "form-control" })*@
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 col-md-2 col-lg-2">
                DOA
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3">

             @Html.TextBoxFor(m => m.DOS, new { @Id = "DOS", @class = "form-control", required = "required" })
            </div>
            <div class="col-sm-1 col-md-1 col-lg-1">
                @*Age*@
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2">
                @*@Html.LabelFor(m => m.lmsPatientRegistration.AGE, new { @class = "form-control" })*@
            </div>
            <div class="col-sm-1 col-md-1 col-lg-1">
                @*IPNO*@
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2">
                @*@Html.TextBoxFor(m => m.IPNO, new { @class = "form-control" })*@
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 col-md-2 col-lg-2">
                DOD
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3">

             @Html.TextBoxFor(m => m.DOD, new { @Id = "DOD", @class = "form-control", required = "required" })
            </div>
            <div class="col-sm-1 col-md-1 col-lg-1">
                @*Age*@
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2">
                @*@Html.LabelFor(m => m.lmsPatientRegistration.AGE, new { @class = "form-control" })*@
            </div>
            <div class="col-sm-1 col-md-1 col-lg-1">
                @*IPNO*@
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2">
                @*@Html.TextBoxFor(m => m.IPNO, new { @class = "form-control" })*@
            </div>
        </div>
        <div class="row">
            <hr />
        </div>
        <div class="row">
            <div class="col-sm-2 col-md-2 col-lg-2">
                Diagnosis
            </div>
            <div class="col-sm-5 col-md-5 col-lg-5">
                @Html.TextAreaFor(m => m.DIAGNOSIS, new { @class = "form-control" })
            </div>



        </div>
        <div class="row">
            <div class="col-sm-2 col-md-2 col-lg-2">
                Patient is admitted with c/o
            </div>
            <div class="col-sm-5 col-md-5 col-lg-5">
                @Html.TextAreaFor(m => m.PATIENTADMITTEDWITHCO, new { @class = "form-control" })
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 col-md-2 col-lg-2">
                Past History
            </div>
            <div class="col-sm-5 col-md-5 col-lg-5">
                @Html.TextAreaFor(m => m.PASTHISTORY, new { @class = "form-control" })
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 col-md-2 col-lg-2">
                Family History
            </div>
            <div class="col-sm-5 col-md-5 col-lg-5">
                @Html.TextAreaFor(m => m.FAMILYHISTORY, new { @class = "form-control" })
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 col-md-2 col-lg-2">
                Obstetric History
            </div>
            <div class="col-sm-5 col-md-5 col-lg-5">
                @Html.TextAreaFor(m => m.OBSTRICHISTORY, new { @class = "form-control" })
            </div>
        </div>
        <div class="row">

            <div class="col-sm-10 col-md-10 col-lg-10 text-center">
                <h3>Investigation</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 col-md-2 col-lg-2">
                Urine A
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3">
                @Html.TextBoxFor(m => m.URINEA, new { @class = "form-control" })
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 col-md-2 col-lg-2">
                Urine S
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3">
                @Html.TextBoxFor(m => m.URINES, new { @class = "form-control" })
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 col-md-2 col-lg-2">
                Urine D
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3">
                @Html.TextBoxFor(m => m.URINED, new { @class = "form-control" })
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 col-md-2 col-lg-2">
                Bl-Hb%
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3">
                @Html.TextBoxFor(m => m.BlHb, new { @class = "form-control" })
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 col-md-2 col-lg-2">
                TC
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3">
                @Html.TextBoxFor(m => m.TC, new { @class = "form-control" })
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 col-md-2 col-lg-2">
                DC
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3">
                @Html.TextBoxFor(m => m.DC, new { @class = "form-control" })
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 col-md-2 col-lg-2">
                ESR 30 mt
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3">
                @Html.TextBoxFor(m => m.ESR30MT, new { @class = "form-control" })
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 col-md-2 col-lg-2">
                ESR 60 mt
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3">
                @Html.TextBoxFor(m => m.ESR6OMT, new { @class = "form-control" })
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 col-md-2 col-lg-2">
                BT
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3">
                @Html.TextBoxFor(m => m.BT, new { @class = "form-control" })
            </div>
        </div>

        <div class="row">
            <div class="col-sm-2 col-md-2 col-lg-2">
                CT
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3">
                @Html.TextBoxFor(m => m.CT, new { @class = "form-control" })
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 col-md-2 col-lg-2">
                Bl.Platelet
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3">
                @Html.TextBoxFor(m => m.BLPLATELET, new { @class = "form-control" })
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 col-md-2 col-lg-2">
                Bl.Urea
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3">
                @Html.TextBoxFor(m => m.BLUREA, new { @class = "form-control" })
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 col-md-2 col-lg-2">
                Bl.Sugar
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3">
                @Html.TextBoxFor(m => m.BLSUGAR, new { @class = "form-control" })
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 col-md-2 col-lg-2">
                Sr.Creatinine
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3">
                @Html.TextBoxFor(m => m.SRCREATININE, new { @class = "form-control" })
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 col-md-2 col-lg-2">
                Sr.Cholesterol
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3">
                @Html.TextBoxFor(m => m.SRCHOLESTEROL, new { @class = "form-control" })
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 col-md-2 col-lg-2">
                Sr.T3 T4 TST
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3">
                @Html.TextBoxFor(m => m.SRT3T4TDH, new { @class = "form-control" })
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 col-md-2 col-lg-2">
                VDRL
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3">
                @Html.TextBoxFor(m => m.VDRL, new { @class = "form-control" })
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 col-md-2 col-lg-2">
                HIV
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3">
                @Html.TextBoxFor(m => m.HIV, new { @class = "form-control" })
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 col-md-2 col-lg-2">
                HBsAg
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3">
                @Html.TextBoxFor(m => m.HBSAG, new { @class = "form-control" })
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 col-md-2 col-lg-2">
                HCV
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3">
                @Html.TextBoxFor(m => m.HCV, new { @class = "form-control" })
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 col-md-2 col-lg-2">
                CT SCAN
            </div>
            <div class="col-sm-5 col-md-5 col-lg-5">
                @Html.TextAreaFor(m => m.CTSCAN, new { @class = "form-control" })
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 col-md-2 col-lg-2">
                MRI SCAN
            </div>
            <div class="col-sm-5 col-md-5 col-lg-5">
                @Html.TextAreaFor(m => m.MRISCAN, new { @class = "form-control" })
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 col-md-2 col-lg-2">
                USG
            </div>
            <div class="col-sm-5 col-md-5 col-lg-5">
                @Html.TextAreaFor(m => m.USG, new { @class = "form-control" })
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 col-md-2 col-lg-2">
                Biopsy
            </div>
            <div class="col-sm-5 col-md-5 col-lg-5">
                @Html.TextAreaFor(m => m.BIOPSY, new { @class = "form-control" })
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 col-md-2 col-lg-2">
                Surgical Procedure
            </div>
            <div class="col-sm-5 col-md-5 col-lg-5">
                @Html.TextAreaFor(m => m.SURGECIALPROCEDURE, new { @class = "form-control" })
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 col-md-2 col-lg-2">
                Treatment
            </div>
            <div class="col-sm-5 col-md-5 col-lg-5">
                @Html.TextAreaFor(m => m.TREATMENT, new { @class = "form-control" })
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 col-md-2 col-lg-2">
                Post Op Perios
            </div>
            <div class="col-sm-5 col-md-5 col-lg-5">
                @Html.TextAreaFor(m => m.POSTOPPERIOD, new { @class = "form-control" })
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 col-md-2 col-lg-2">
                Dressing Changed on
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3">
                @Html.TextBoxFor(m => m.DRESSINGCHANGEDON, new { @Id = "DRESSINGCHANGEDON", @class = "form-control", required = "required" })
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 col-md-2 col-lg-2">
                Discharged on
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3">
                @Html.TextBoxFor(m => m.DISCHARGEDON, new { @Id = "DISCHARGEDON", @class = "form-control", required = "required" })
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 col-md-2 col-lg-2">
                Conslusion on Discharge
            </div>
            <div class="col-sm-5 col-md-5 col-lg-5">
                @Html.TextAreaFor(m => m.CONCLUSIONONDISCHARGE, new { @class = "form-control" })
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 col-md-2 col-lg-2">
                Advise
            </div>
            <div class="col-sm-5 col-md-5 col-lg-5">
                @Html.TextAreaFor(m => m.ADVISE, new { @class = "form-control" })
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-sm-10 col-md-10 col-lg-10">
                <a href="@Url.Action("ViewAllGynacDischargeSummary", "Invoice")" class="btn btn-warning">
                    <i class="glyphicon glyphicon-arrow-left">
                        Back
                    </i>
                </a>
                <button type="submit" class="btn btn-primary">
                    <i class="glyphicon glyphicon-pencil">
                        Save
                    </i>
                </button>
                @if (Model.SUMMARYID > 0)
                {
                    <a href="@Url.Action("DeleteGynacDischargeSummary", "Invoice", new { ReportId = Model.SUMMARYID})" class="btn btn-danger">
                        <i class="glyphicon glyphicon-trash"></i>
                        Delete
                    </a>
                    <a href="@Url.Action("GenerateGynacDischargeSummary", "Invoice", new { ReportId = Model.SUMMARYID})" class="btn btn-info">
                        <i class="glyphicon glyphicon-th-large"></i>
                        Generate Gynaec Summary
                    </a>
                }
            </div>
        </div>
        <div class="row">

            <hr />
        </div>
    }
</div>
@section Scripts {

    <script type="text/javascript">

        $(document).ready(function () {

            $('#DOD').datepicker({ format: 'dd/mm/yyyy'  });
            $('#DOS').datepicker({ format: 'dd/mm/yyyy'  });
            $('#DRESSINGCHANGEDON').datepicker({ format: 'dd/mm/yyyy'  });
            $('#DISCHARGEDON').datepicker({ format: 'dd/mm/yyyy'  });


        });

    </script>
}

