@using Lab.Management.Entities;
@model lmsPatientDischargeSummary
@{
    ViewBag.Title = "View Discharge Summary";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var message = ViewBag.Message as string;

}

@if (!string.IsNullOrEmpty(message))
{
    <div class="row">
        <div class="col-sm-8 col-md-8 col-lg-8">
            <div class="alert alert-info">
                @message
            </div>
        </div>
    </div>
}

<div class="col-sm-10 col-md-10 col-lg-10 roundCornerDiv">
    @using (Html.BeginForm("EditDischargeSummary", "Invoice", new { @id = "IdEdit", @name = "EditForm" }))
    {
        <div class="row">
            <hr />
        </div>
        <div class="row">
            <div class="col-sm-10 col-md-10 col-lg-10 text-center">
                <div class="col-sm-10 col-md-10 col-lg-10 text-center">
                    @Html.Partial("_HospitalDetail")
                    <p><h4 class="text-success"><i class="glyphicon glyphicon-hand-right"> </i> Obstetric Discharge Summary</h4></p>
                </div>
            </div>
        </div>
        <div class="row">
            <hr />
        </div>
        <div class="row">
            <div class="col-sm-7 col-md-7 col-lg-7">
                <div class="input-group">
                    <span class="input-group-addon">Patient Name</span>
                    @Html.DropDownListFor(x => x.SelectedPatient, Model.PatientDdl, new { @class = "form-control selectpicker", required = "required" })
                    @Html.HiddenFor(x => x.SUMMARYID)
                </div>
            </div>

            <div class="col-sm-3 col-md-3 col-lg-3">
                <div class="input-group">
                    <span class="input-group-addon">IPNO</span>
                    @Html.TextBoxFor(m => m.IPNO, new { @class = "form-control" })
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-2 col-md-2 col-lg-2">
                @*Address*@
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3">
                @*@Html.TextAreaFor(m => m.lmsPatientRegistration.PATIENTADDRESS, new { @class = "form-control" })*@
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2">
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3">
                <div class="input-group">
                    <span class="input-group-addon">DODEL</span>
                    @Html.TextBoxFor(m => m.DODEL, new { @Id = "DODEL", @class = "form-control", required = "required" })
                </div>
                <div class="input-group">
                    <span class="input-group-addon">DOD</span>
                    @Html.TextBoxFor(m => m.DOD, new { @Id = "DOD", @class = "form-control", required = "required" })
                </div>
                <div class="input-group">
                    <span class="input-group-addon">DIAGNOSIS</span>
                    @Html.TextAreaFor(m => m.DIAGONOSIS, new { @class = "form-control", required = "required" })
                </div>
            </div>
        </div>
        <div class="row">
            <hr />
        </div>
        <div class="row">
            <div class="col-sm-2 col-md-2 col-lg-2">
                PH.No
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3">
                @Html.TextBoxFor(m => m.PHNO, new { @class = "form-control" })
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2">
                Investigation
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3">
                @Html.TextBoxFor(m => m.Investigation, new { @class = "form-control" })
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 col-md-2 col-lg-2">
                Obstetric Code
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3">
                @Html.TextBoxFor(m => m.OBSTEITICCODE, new { @class = "form-control" })
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2">
                Urine S
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3">
                @Html.TextBoxFor(m => m.URINES, new { @class = "form-control" })
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 col-md-2 col-lg-2">
                Mode of Delivery
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3">
                @Html.TextBoxFor(m => m.MODEOFDELIVERY, new { @class = "form-control" })
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2">
                Urine D
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3">
                @Html.TextBoxFor(m => m.URINED, new { @class = "form-control" })
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 col-md-2 col-lg-2">
                Date
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3">
                @Html.TextBoxFor(m => m.DDATE, new { @Id = "DDATE", @class = "form-control" })
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2">
                Blood Hb%
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3">
                @Html.TextBoxFor(m => m.BLOODHBPERCENT, new { @class = "form-control" })
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 col-md-2 col-lg-2">
                Time
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3">
                @Html.TextBoxFor(m => m.DTIME, new { @class = "form-control" })
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2">
                Gp&Rh
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3">
                @Html.TextBoxFor(m => m.GPRH, new { @class = "form-control" })
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 col-md-2 col-lg-2">
                Sex
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3">
                @Html.TextBoxFor(m => m.SEX, new { @class = "form-control" })
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2">
                BT
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3">
                @Html.TextBoxFor(m => m.BT, new { @class = "form-control" })
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 col-md-2 col-lg-2">
                Weight
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3">
                @Html.TextBoxFor(m => m.PWEIGHT, new { @class = "form-control" })
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2">
                CT
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3">
                @Html.TextBoxFor(m => m.CT, new { @class = "form-control" })
            </div>
        </div>
        <div class="row">
            <div class="col-sm-10 col-md-10 col-lg-10">
                <a data-toggle="collapse" class="btn btn-default" data-target="#twin">If twins please click to add details</a>
                <div id="twin" class="collapse">
                    <div class="row">
                        <div class="col-sm-2 col-md-2 col-lg-2">
                            Date
                        </div>
                        <div class="col-sm-3 col-md-3 col-lg-3">
                            @Html.TextBoxFor(m => m.DDATE2, new { @Id = "DDATE2", @class = "form-control" })
                        </div>
                        <div class="col-sm-2 col-md-2 col-lg-2">
                            Time
                        </div>
                        <div class="col-sm-3 col-md-3 col-lg-3">
                            @Html.TextBoxFor(m => m.DTIME2, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2 col-md-2 col-lg-2">
                            Sex
                        </div>
                        <div class="col-sm-3 col-md-3 col-lg-3">
                            @Html.TextBoxFor(m => m.SEX2, new { @class = "form-control" })
                        </div>
                        <div class="col-sm-2 col-md-2 col-lg-2">
                            Weight
                        </div>
                        <div class="col-sm-3 col-md-3 col-lg-3">
                            @Html.TextBoxFor(m => m.PWEIGHT2, new { @class = "form-control" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 col-md-2 col-lg-2">
                HbsAg
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3">
                @Html.TextBoxFor(m => m.HBSAG, new { @class = "form-control" })
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2">
                Platelet
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3">
                @Html.TextBoxFor(m => m.PLATELET, new { @class = "form-control" })
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 col-md-2 col-lg-2">
                Patient is Admitted with c/o
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3">
                @Html.TextBoxFor(m => m.PATIENTADMITTEDWITH, new { @class = "form-control" })
            </div>

            <div class="col-sm-2 col-md-2 col-lg-2">
                Present History
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3">
                @Html.TextBoxFor(m => m.PRESENTHISTORY, new { @class = "form-control" })
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 col-md-2 col-lg-2">
                Obstetric History
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3">
                @Html.TextBoxFor(m => m.OBSTETRICHISTORY, new { @class = "form-control" })
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2">
                High Risk
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3">
                @Html.TextBoxFor(m => m.HIGHRISK, new { @class = "form-control" })
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 col-md-2 col-lg-2">
                Blood Urea
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3">
                @Html.TextBoxFor(m => m.BLOODUREA, new { @class = "form-control" })
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2">
                Mode of Delivery
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3">
                @Html.TextBoxFor(m => m.MODEOFDELIVERY, new { @class = "form-control" })
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 col-md-2 col-lg-2">
                Blood Sugar
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3">
                @Html.TextBoxFor(m => m.BLOOGSUGAR, new { @class = "form-control" })
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2">
                Post op/Post natal Period
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3">
                @Html.TextBoxFor(m => m.POSTOP_POSTNATALPERIOD, new { @class = "form-control" })
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 col-md-2 col-lg-2">
                Sr.Creatinine
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3">
                @Html.TextBoxFor(m => m.SRCREATININE, new { @class = "form-control" })
            </div>
            <div class="col-sm-5 col-md-5 col-lg-5">
            </div>
        </div>

        <div class="row">
            <div class="col-sm-5 col-md-5 col-lg-5">
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2">
                VDRL
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3">
                @Html.TextBoxFor(m => m.VDRL, new { @class = "form-control" })
            </div>
        </div>
        <div class="row">
            <div class="col-sm-5 col-md-5 col-lg-5">
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2">
                HIV
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3">
                @Html.TextBoxFor(m => m.HIV, new { @class = "form-control" })
            </div>
        </div>

        <div class="row">
            <div class="col-sm-2 col-md-2 col-lg-2">
                Treatment
            </div>
            <div class="col-sm-8 col-md-8 col-lg-8">
                @Html.TextAreaFor(m => m.TREATMENT, new { @class = "form-control", required = "required" })
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 col-md-2 col-lg-2">
                Condition of Baby
            </div>
            <div class="col-sm-8 col-md-8 col-lg-8">
                @Html.TextAreaFor(m => m.CONDITIONOFBABY, new { @class = "form-control" })
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 col-md-2 col-lg-2">
                Discharge Advise
            </div>
            <div class="col-sm-8 col-md-8 col-lg-8">
                @Html.TextAreaFor(m => m.DISCHARGEADVICE, new { @class = "form-control", required = "required" })
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 col-md-2 col-lg-2">
                Comments
            </div>
            <div class="col-sm-8 col-md-8 col-lg-8">
                @Html.TextAreaFor(m => m.COMMENTS, new { @class = "form-control", required = "required" })
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-sm-10 col-md-10 col-lg-10">
                <a href="@Url.Action("ViewAllDischargeSummary", "Invoice")" class="btn btn-warning">
                    <i class="glyphicon glyphicon-arrow-left">
                        Back
                    </i>
                </a>
                <button type="submit" class="btn btn-primary">
                    <i class="glyphicon glyphicon-pencil">
                        Save
                    </i>
                </button>
                @if (Model.SUMMARYID > 0)
                {
                    <a href="@Url.Action("DeleteDischargeSummary", "Invoice", new { ReportId = Model.SUMMARYID })" class="btn btn-danger">
                        <i class="glyphicon glyphicon-trash"></i>
                        Delete
                    </a>
                    <a href="@Url.Action("GenerateDischargeSummary", "Invoice", new { ReportId = Model.SUMMARYID })" class="btn btn-info">
                        <i class="glyphicon glyphicon-th-large"></i>
                        Generate Summary
                    </a>
                }
            </div>
        </div>
        <div class="row">
            <hr />
        </div>
    }
</div>
@section Scripts {
    <script type="text/javascript">

        $(document).ready(function () {

            $('#DOD').datepicker({ format: 'dd/mm/yyyy' });
            $('#DODEL').datepicker({ format: 'dd/mm/yyyy' });
            $('#DDATE').datepicker({ format: 'dd/mm/yyyy' });
            $('#DDATE2').datepicker({ format: 'dd/mm/yyyy' });

        });
    </script>
}