@using Lab.Management.Entities;
@model lmsMedicalTest
@{
    ViewBag.Title = "View MedicalTest";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var message = ViewBag.Message as string;

}

@if (!string.IsNullOrEmpty(message))
{
    <div class="row">
        <div class="col-sm-8 col-md-8 col-lg-8">
            <div class="alert alert-info">
                @message
            </div>
        </div>
    </div>
}

<div class="col-sm-8 col-md-8 col-lg-8 roundCornerDiv">
    @using (Html.BeginForm("EditMedicalTest", "HopitalMaster", new { @id = "IdEdit", @name = "EditForm" }))
    {
        <div class="row">
            <h4 class="text-success"><i class="glyphicon glyphicon-hand-right"> </i> View Medical Test Details</h4>
            <hr/>
        </div>
        <div class="row">
            <div class="col-sm-3 col-md-3 col-lg-3">
                Medical Test Name
            </div>
            <div class="col-sm-5 col-md-5 col-lg-5">
                @Html.TextBoxFor(m => m.TESTNAME, new { @class = "form-control", required = "required" })
                @Html.HiddenFor(x => x.TESTID)
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3 col-md-3 col-lg-3">
                Test Price
            </div>
            <div class="col-sm-5 col-md-5 col-lg-5">
                @Html.TextBoxFor(m => m.SELLIGPRICE, new { @class = "form-control", required = "required" })
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3 col-md-3 col-lg-3">
                Normal Value
            </div>
            <div class="col-sm-5 col-md-5 col-lg-5">
                @Html.TextBoxFor(m => m.NORMALVALUE, new { @class = "form-control", required = "required" })
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                Test For
            </div>
            <div class="col-md-5">
                @if (Model.TestForForDdl != null)
                {
                    @Html.DropDownListFor(x => x.SelectedTestFor, Model.TestForForDdl, new { @class = "form-control selectpicker", @required = "required" })
                }
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                Group By
            </div>
            <div class="col-md-5">
                @if (Model.GroupForDdl != null)
                {
                    @Html.DropDownListFor(x => x.SelectedGroup, Model.GroupForDdl, new { @class = "form-control selectpicker", @required = "required" })
                }
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="col-sm-8 col-md-8 col-lg-8">
                <a href="@Url.Action("ViewAllMedicalTest", "HopitalMaster")" class="btn btn-warning">
                    <i class="glyphicon glyphicon-arrow-left">
                        Back
                    </i>
                </a>
                <button type="submit" class="btn btn-primary">
                    <i class="glyphicon glyphicon-pencil">
                        Save
                    </i>
                </button>
                @if (Model.TESTID > 0)
                {
                    <a href="@Url.Action("DeleteMedicalTest", "HopitalMaster", new { MedicalTestId=Model.TESTID})" class="btn btn-danger">
                        <i class="glyphicon glyphicon-trash"></i>
                        Delete
                    </a>
                }
            </div>
        </div>
        <div class="row">
            <hr/>
        </div>
    }
</div>
