@using Lab.Management.Entities;
@model lmsInventory
@{
    ViewBag.Title = "View Inventory";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var message = ViewBag.Message as string;
    
}


@if (!string.IsNullOrEmpty(message))
{
    <div class="row">
        <div class="col-sm-8 col-md-8 col-lg-8">
            <div class="alert alert-info">
                @message
            </div>
        </div>
    </div>
}


<div class="col-sm-8 col-md-8 col-lg-8 roundCornerDiv">

    @using (Html.BeginForm("EditInventory", "HopitalMaster", new { @id = "IdEdit", @name = "EditForm" }))
    {
        <div class="row">
            <h4 class="text-success"><i class="glyphicon glyphicon-hand-right"> </i> View Inventory Details</h4>
            <hr />
        </div>
        <div class="row">
            <div class="col-sm-3 col-md-3 col-lg-3">
                Item Name
            </div>
            <div class="col-sm-5 col-md-5 col-lg-5">
                @Html.TextBoxFor(m => m.ITEMNAME, new { @class = "form-control", required = "required" })
                @Html.HiddenFor(x => x.INVENTORYID)
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3 col-md-3 col-lg-3">
                Buying Price
            </div>
            <div class="col-sm-5 col-md-5 col-lg-5">
                @Html.TextBoxFor(m => m.BUYINGPRICE, new { @class = "form-control", required = "required" })

            </div>
        </div>

        <div class="row">
            <div class="col-sm-3 col-md-3 col-lg-3">
                Manufacture Date
            </div>
            <div class="col-sm-5 col-md-5 col-lg-5">
                @Html.TextBoxFor(m => m.MANUFACTURIGDATE, new { @id = "MANUFACTUREDATE", @class = "form-control", required = "required" })

            </div>
        </div>

        <div class="row">
            <div class="col-sm-3 col-md-3 col-lg-3">
                Warranty Period
            </div>
            <div class="col-sm-5 col-md-5 col-lg-5">
                @Html.TextBoxFor(m => m.WARRENTYPERIOD, new { @class = "form-control", required = "required" })

            </div>
        </div>
        <div class="row">
            <div class="col-sm-3 col-md-3 col-lg-3">
                Guarantee Period
            </div>
            <div class="col-sm-5 col-md-5 col-lg-5">
                @Html.TextBoxFor(m => m.GUARRETYPERIOD, new { @class = "form-control" })

            </div>
        </div>
        <div class="row">
            <div class="col-sm-3 col-md-3 col-lg-3">
                Vendor
            </div>
            <div class="col-sm-5 col-md-5 col-lg-5">
                @Html.DropDownListFor(x => x.SelectedVendor, Model.VendorDdl, new { @class = "form-control", required = "required" })

            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-sm-8 col-md-8 col-lg-8">
                <a href="@Url.Action("ViewAllInventory", "HopitalMaster")" class="btn btn-warning">
                    <i class="glyphicon glyphicon-arrow-left">
                        Back
                    </i>
                </a>
                <button type="submit" class="btn btn-primary">
                    <i class="glyphicon glyphicon-pencil">
                        Save
                    </i>
                </button>
                @if (Model.INVENTORYID > 0)
                {
                    <a href="@Url.Action("DeleteInventory", "HopitalMaster", new { InventoryId=Model.INVENTORYID})" class="btn btn-danger">
                        <i class="glyphicon glyphicon-trash"></i>
                        Delete
                    </a>
                }
            </div>
        </div>
        <div class="row">

            <hr />
        </div>
    }
</div>
@section Scripts {

    <script type="text/javascript">

        $(document).ready(function () {
            $('#MANUFACTUREDATE').datepicker({ format: 'dd/mm/yyyy'  });
        });

    </script>
}
