@using Lab.Management.Entities;
@model lmsTemplateMaster
@{
    ViewBag.Title = "View Template";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var message = ViewBag.Message as string;
    var TemlpateContent = ViewBag.TemlpateContent as string;
}

@if (!string.IsNullOrEmpty(message))
{
    <div class="row">
        <div class="col-sm-8 col-md-8 col-lg-8">
            <div class="alert alert-info">
                @message
            </div>
        </div>
    </div>
}
<div class="col-sm-8 col-md-8 col-lg-8 roundCornerDiv">
    <div class="row">
        <h4 class="text-success"><i class="glyphicon glyphicon-hand-right"> </i>  View Template Details</h4>
        <hr/>
    </div>
    <div class="row">
        <div class="col-sm-3 col-md-3 col-lg-3">
            Template Name
        </div>
        <div class="col-sm-5 col-md-5 col-lg-5">
            @Html.TextBoxFor(m => m.TEMPLATENAME, new { @class = "form-control", @Id = "templateName", required = "required" })
            @Html.HiddenFor(x => x.TEMPLATEID)
            @Html.Hidden("hdnEditorContent", @TemlpateContent)
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3 col-md-3 col-lg-3">
            Template Definition
        </div>
        <div class="col-sm-5 col-md-5 col-lg-5">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            @Html.TextArea("templateDetails", new { @class = "ckeditor", @Id = "templateDetails", required = "required" })
        </div>
        @*@Html.TextAreaFor(m => m.TEMPLATEDETAILS, new { @class = "ckeditor", @Id = "templateDetails", required = "required" })*@
    </div>
    <hr/>
    <div class="row">
        <div class="col-sm-8 col-md-8 col-lg-8">
            <a href="@Url.Action("ViewAllTemplate", "Admin")" class="btn btn-warning">
                <i class="glyphicon glyphicon-arrow-left">
                    Back
                </i>
            </a>
            <button type="button" class="btn btn-primary" id="btnSave">
                <i class="glyphicon glyphicon-floppy-disk"></i>
                Save
            </button>
            @if (Model.TEMPLATEID > 0)
            {
                <a href="@Url.Action("DeleteTemplate", "Admin", new { templateId = @Model.TEMPLATEID })" class="btn btn-danger">
                    <i class="glyphicon glyphicon-trash">
                        Delete
                    </i>
                </a>
            }
        </div>
    </div>
    <div class="row">
        <hr/>
    </div>
</div>
@section Scripts {
    @*<link href="@Url.Content("~/Content/css/ckEditorStyle.css")" rel="stylesheet">
        <script src="@Url.Content("~/Content/js/ckeditor/ckEditorUI.js")"></script>*@
    <script type="text/javascript">
        $(document).ready(function () {
            function SetEditorOnEdit() {
                debugger;
                var templateEditContent = $('#hdnEditorContent').val();
                var htmliFrame = $('iframe')[0];
                if (htmliFrame === undefined)
                    return;
                var closestElement = ($(htmliFrame)[0]);
                if (closestElement === undefined)
                    return;
                var iframeFormElement = $(closestElement)[0];
                if (iframeFormElement === undefined)
                    return;
                iframeFormElement.contentDocument.body.innerHTML = templateEditContent;
            }
            setTimeout(function () {
                SetEditorOnEdit();
            }, 1000);

            $('#btnSave').on('click', function () {
                SaveTemplate();
            });
            var emptyString = "";
            function GetEditorContent() {

                var htmliFrame = $('iframe')[0];
                if (htmliFrame === undefined)
                    return emptyString;
                var closestElement = ($(htmliFrame)[0]);
                if (closestElement === undefined)
                    return emptyString;
                var iframeFormElement = $(closestElement)[0];
                if (iframeFormElement === undefined)
                    return emptyString;
                return iframeFormElement.contentDocument.body.innerHTML;
            }
            function SaveTemplate() {
                var templateName = $('#templateName').val();
                var templateDetails = GetEditorContent();

                if (templateDetails === emptyString) {
                    alert("Unable to Save Template ,Error while Processing");
                    return;
                }
                var postData = { TEMPLATEID: $('#TEMPLATEID').val(), TEMPLATENAME: templateName, TEMPLATEDETAILS: templateDetails };
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("EditTemplate")",
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify(postData),
                    //data: postData,
                    success: function (data) {
                        window.location.href = "ViewTemplate?templateId=" + data;
                    },
                    failure: function (errMsg) {
                        alert('failure' + errMsg);
                    }
                });
            }
        });
    </script>
}
