@using Lab.Management.Common;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>@ViewBag.Title</title>
    <link rel="icon" href="@Url.Content("~/Content/Images/fav.png")"/>
    <!-- Bootstrap core CSS -->
    @Styles.Render("~/Content/cssBndl")
</head>
<body>
    <header>
        @Html.Partial("_Menu")
    </header>
    <div id="body">
        <div class="container">
            @RenderSection("featured", required: false)
            @RenderBody()
            <div id="" class="hidden"></div>
        </div>
    </div>
    <div id="dvPrintElemet" class="hidden"></div>
    <footer class="text-center">
        <p>HPMS &copy; @DateTime.Now.Year - @ConfigurationWrapper.StringSettings(ConfigKey.HospitalName)</p>
    </footer>
    @foreach (var bundle in BundleTable.Bundles)
    {
        if (!bundle.Path.ToLower().Contains("cssBndl"))
        {
            @Scripts.Render(bundle.Path)
        }

    }

    @RenderSection("scripts", required: false)
    <script type="text/javascript">
        (function ($) {
            $(document).ready(function () {
                $('ul.dropdown-menu [data-toggle=dropdown]').on('click', function (event) {
                    event.preventDefault();
                    event.stopPropagation();
                    $(this).parent().siblings().removeClass('open');
                    $(this).parent().toggleClass('open');
                });

            });
        })(jQuery);
        $('.selectpicker').attr('data-live-search', true);</script>
</body>
</html>
