@using Lab.Management.Common;
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="item active">
            <div class="container">
                <div class="carousel-caption">
                    <h1>@ConfigurationWrapper.StringSettings(ConfigKey.HospitalName).ToUpper()</h1>
                    <p>@ConfigurationWrapper.StringSettings(ConfigKey.HospitalAddress)</p>
                    <p><i>Phone #: @ConfigurationWrapper.StringSettings(ConfigKey.HospitalContact)</i></p>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="container">
                <div class="carousel-caption">
                    <h1>@ConfigurationWrapper.StringSettings(ConfigKey.HospitalName).ToUpper()</h1>
                    <h1>Our Expertise </h1>
                    <p><h2><i>OG,General Medicine,Pediatrician..etc</i></h2></p>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="container">
                <div class="carousel-caption">

                    <h1>Management</h1>
                    <p><h2><i>@ConfigurationWrapper.StringSettings(ConfigKey.ManagementNameOne)</i></h2></p>
                    <p><h2><i>&</i></h2></p>
                    <p><h2><i>@ConfigurationWrapper.StringSettings(ConfigKey.ManagementNameOneTwo)</i></h2></p>
                </div>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
</div>
