<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>@ViewBag.Title</title>
    <!-- Bootstrap core CSS -->
    <link href="@Url.Content("~/Content/css/bootstrap.css")" rel="stylesheet">
    <link href="@Url.Content("~/Content/css/carousel.css")" rel="stylesheet">
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet">
</head>
<body>
    <div id="body">
        <div class="container ">
            @RenderSection("featured", required: false)
            @RenderBody()
        </div>
    </div>
    @Scripts.Render("~/bundles/Ajquery")
    <script src="@Url.Content("~/Content/js/bootstrap.js")"></script>
    <script type="text/javascript">
        (function ($) {
            $(document).ready(function () {
                $('ul.dropdown-menu [data-toggle=dropdown]').on('click', function (event) {
                    event.preventDefault();
                    event.stopPropagation();
                    $(this).parent().siblings().removeClass('open');
                    $(this).parent().toggleClass('open');
                });
            });
        })(jQuery);
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
