@using Lab.Management.Entities;
@using LabManagement.System.Common;
@{
    var userInfo = Session["UserInfo"] as usp_ValidateUser_Result;
}
<div class="navbar ">
    <div class="container">
        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation" style="background-color:black">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#" style="font-size:1em;">Hospital Management System</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li class="dropdown dropdown-submenu">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">City </a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a href="@Url.Action("ViewAllCity","Admin")"> Dashboard</a>
                                        </li>
                                        <li class="divider"></li>
                                        <li>
                                            <a href="@Url.Action("ViewCity", "Admin", new { cityId =0})"> New</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="divider"></li>
                                <li class="dropdown dropdown-submenu">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">State </a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a href="@Url.Action("ViewAllState", "Admin")"> Dashboard</a>
                                        </li>
                                        <li class="divider"></li>
                                        <li>
                                            <a href="@Url.Action("ViewState", "Admin", new { StateId = 0 })"> New</a>
                                        </li>
                                    </ul>
                                </li>
                                @if (userInfo.IsAdmin())
                                {
                                    <li class="divider"></li>
                                    <li class="dropdown dropdown-submenu">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Role </a>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <a href="@Url.Action("ViewAllRole", "Admin")"> Dashboard</a>
                                            </li>
                                            <li class="divider"></li>
                                            <li>
                                                <a href="@Url.Action("ViewRole", "Admin", new { RoleId = 0 })"> New</a>
                                            </li>
                                        </ul>
                                    </li>

                                    <li class="divider"></li>
                                    <li class="dropdown dropdown-submenu">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">User </a>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <a href="@Url.Action("ViewAllUser", "Admin")"> Dashboard</a>
                                            </li>
                                            <li class="divider"></li>
                                            <li>
                                                <a href="@Url.Action("ViewUser", "Admin", new { UserId = 0 })"> New</a>
                                            </li>
                                        </ul>
                                    </li>
                                }
                                <li class="divider"></li>
                                <li class="dropdown dropdown-submenu">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Diagnosis Types </a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a href="@Url.Action("ViewAllDisease", "Admin")"> Dashboard</a>
                                        </li>
                                        <li class="divider"></li>
                                        <li>
                                            <a href="@Url.Action("ViewDisease", "Admin", new { DiseaseId = 0 })"> New</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="divider"></li>
                                <li class="dropdown dropdown-submenu">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Define Template</a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a href="@Url.Action("ViewAllTemplate", "Admin")"> Dashboard</a>
                                        </li>
                                        <li class="divider"></li>
                                        <li>
                                            <a href="@Url.Action("ViewTemplate", "Admin", new { templateId = 0 })"> New</a>
                                        </li>
                                        @if (userInfo.IsAdmin())
                                        {
                                            <li class="divider"></li>
                                            <li>
                                                <a href="@Url.Action("DataArchival", "Admin")"> Data Archival</a>
                                            </li>
                                        }
                                    </ul>
                                </li>
                                <li class="divider"></li>
                                <li class="dropdown dropdown-submenu">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Drug Dosage </a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a href="@Url.Action("ViewAllDrugDosage", "Admin")"> Dashboard</a>
                                        </li>
                                        <li class="divider"></li>
                                        <li>
                                            <a href="@Url.Action("ViewDrugDosage", "Admin", new { id = 0 })"> New</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="divider"></li>
                                <li class="dropdown dropdown-submenu">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Drug Frequency</a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a href="@Url.Action("ViewAllDrugFrequency", "Admin")"> Dashboard</a>
                                        </li>
                                        <li class="divider"></li>
                                        <li>
                                            <a href="@Url.Action("ViewDrugFrequency", "Admin", new { id = 0 })"> New</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Patient Management<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li class="dropdown dropdown-submenu">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Patient Registration</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="@Url.Action("ViewAllPatient", "Patient")">Dashboard</a></li>
                                        <li class="divider"></li>
                                        <li><a href="@Url.Action("ViewPatient", "Patient", new { PatientId =0})">New</a></li>
                                    </ul>
                                </li>
                                <li class="divider"></li>
                                <li class="dropdown dropdown-submenu">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Booking</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="@Url.Action("ViewAllBooking", "Patient")">Booking Dashboard</a></li>
                                        <li class="divider"></li>
                                        <li><a href="@Url.Action("ViewBooking", "Patient", new { id =0})">New Booking</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Invoice<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li class="dropdown dropdown-submenu">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Pharmacy Bill</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="@Url.Action("ViewAllMedicalBill", "Invoice")">Dashboard</a></li>
                                        <li class="divider"></li>
                                        <li><a href="@Url.Action("ViewMedicalBill", "Invoice", new { MedicalBillId =0 })">New Bill</a></li>
                                    </ul>
                                </li>
                                <li class="divider"></li>
                                <li class="dropdown dropdown-submenu">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Laboratory Billing</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="@Url.Action("ViewAllLaboratoryBilling", "Invoice")">Dashboard</a></li>
                                        <li class="divider"></li>
                                        <li><a href="@Url.Action("ViewLaboratoryBilling", "Invoice", new { LaboratoryBillingId = 0 })">New </a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Reports<b class="caret"></b></a>
                            <ul class="dropdown-menu">

                                <li class="dropdown dropdown-submenu">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Patient Report Editor</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="@Url.Action("ViewAllPatientReportStore", "Invoice")">Dashboard</a></li>
                                        <li class="divider"></li>
                                        <li><a href="@Url.Action("ViewPatientReportStore", "Invoice", new { reportId = 0 })">New </a></li>
                                    </ul>
                                </li>
                                <li class="divider"></li>
                                <li class="dropdown dropdown-submenu">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Scan Reports</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="@Url.Action("UploadFile", "HospitalMaster")">Upload Scan Templates</a></li>
                                        <li class="divider"></li>
                                        <li><a href="@Url.Action("ViewFileDownload", "HospitalMaster", new { downloadfor="TEMPLATE" })">Download Scan Templates</a></li>
                                        <li class="divider"></li>
                                        <li><a href="@Url.Action("ViewFileDownload", "HospitalMaster", new { downloadfor="PATIENT" })">Download Patient Scan Reports</a></li>
                                    </ul>
                                </li>
                                <li class="divider"></li>
                                <li class="dropdown dropdown-submenu">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Patient Discharge Summary</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="@Url.Action("ViewAllDischargeSummary", "Invoice")">Obstetric Dashboard</a></li>
                                        <li class="divider"></li>
                                        <li><a href="@Url.Action("ViewDischargeSummary", "Invoice", new { ReportId = 0 })">New Obstetric Summary</a></li>
                                        <li class="divider"></li>
                                        <li><a href="@Url.Action("ViewAllGenDischargeSummary", "Invoice")">General Dashboard</a></li>
                                        <li class="divider"></li>
                                        <li><a href="@Url.Action("ViewGenDischargeSummary", "Invoice", new { ReportId = 0 })">New General Summary</a></li>
                                        <li class="divider"></li>
                                        <li><a href="@Url.Action("ViewAllGynacDischargeSummary", "Invoice")">Gynaec Dashboard</a></li>
                                        <li class="divider"></li>
                                        <li><a href="@Url.Action("ViewGynacDischargeSummary", "Invoice", new { ReportId = 0 })">New Gynaec Summary</a></li>
                                    </ul>
                                </li>
                                <li class="divider"></li>
                                <li class="dropdown dropdown-submenu">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Ultra Sonogram Report One</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="@Url.Action("ViewAllUltraSonagramReportOne", "Invoice")">Dashboard</a></li>
                                        <li class="divider"></li>
                                        <li><a href="@Url.Action("ViewUltraSonagramReportOne", "Invoice", new { ReportId = 0 })">New </a></li>
                                    </ul>
                                </li>
                                <li class="divider"></li>
                                <li class="dropdown dropdown-submenu">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Ultra Sonogram Report Two</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="@Url.Action("ViewAllUltraSonagramReportTwo", "Invoice")">Dashboard</a></li>
                                        <li class="divider"></li>
                                        <li><a href="@Url.Action("ViewUltraSonagramReportTwo", "Invoice", new { ReportId = 0 })">New </a></li>
                                    </ul>
                                </li>
                                <li class="divider"></li>
                                <li class="dropdown dropdown-submenu">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Investigation Report</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="@Url.Action("ViewAllInvestigationReport", "Invoice")">Dashboard</a></li>
                                        <li class="divider"></li>
                                        <li><a href="@Url.Action("ViewInvestigationReport", "Invoice", new { ReportId = 0 })">New </a></li>
                                    </ul>
                                </li>
                                <li class="divider"></li>
                                <li class="dropdown dropdown-submenu">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Discharge Bill</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="@Url.Action("ViewAllDischargeBill", "Invoice")">Dashboard</a></li>
                                        <li class="divider"></li>
                                        <li><a href="@Url.Action("ViewDischargeBill", "Invoice", new { ReportId = 0 })">New </a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        @if (userInfo.IsAdmin())
                        {
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Hospital Master <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li class="dropdown dropdown-submenu">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Drugs</a>
                                        <ul class="dropdown-menu">
                                            <li><a href="@Url.Action("ViewAllDrug", "HospitalMaster")">Dashboard</a></li>
                                            <li class="divider"></li>
                                            <li><a href="@Url.Action("ViewDrug", "HospitalMaster", new { DrugId = 0 })">New </a></li>
                                        </ul>
                                    </li>
                                    <li class="divider"></li>
                                    <li class="dropdown dropdown-submenu">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Medical Tests</a>
                                        <ul class="dropdown-menu">
                                            <li><a href="@Url.Action("ViewAllMedicalTest", "HospitalMaster")">Dashboard</a></li>
                                            <li class="divider"></li>
                                            <li><a href="@Url.Action("ViewMedicalTest", "HospitalMaster", new { MedicalTestId =0})">New </a></li>
                                            <li class="divider"></li>
                                            <li><a href="@Url.Action("ViewAllMedicalTestFor", "HospitalMaster")">Manage Test Gender Type</a></li>
                                            <li class="divider"></li>
                                            <li><a href="@Url.Action("ViewAllMedicalTestGroup", "HospitalMaster")">Manage Test Group </a></li>
                                        </ul>
                                    </li>
                                    <li class="divider"></li>
                                    <li class="dropdown dropdown-submenu">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Scans</a>
                                        <ul class="dropdown-menu">
                                            <li><a href="@Url.Action("ViewAllScan", "HospitalMaster")">Dashboard</a></li>
                                            <li class="divider"></li>
                                            <li><a href="@Url.Action("ViewScan", "HospitalMaster", new { ScanId =0})">New </a></li>
                                        </ul>
                                    </li>
                                    <li class="divider"></li>
                                    <li class="dropdown dropdown-submenu">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Vendors</a>
                                        <ul class="dropdown-menu">
                                            <li><a href="@Url.Action("ViewAllVendor", "HospitalMaster")">Dashboard</a></li>
                                            <li class="divider"></li>
                                            <li><a href="@Url.Action("ViewVendor", "HospitalMaster", new { VendorId =0})">New </a></li>
                                        </ul>
                                    </li>
                                    <li class="divider"></li>
                                    <li class="dropdown dropdown-submenu">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Inventory</a>
                                        <ul class="dropdown-menu">
                                            <li><a href="@Url.Action("ViewAllInventory", "HospitalMaster")">Dashboard</a></li>
                                            <li class="divider"></li>
                                            <li><a href="@Url.Action("ViewInventory", "HospitalMaster", new { InventoryId =0})">New </a></li>
                                        </ul>
                                    </li>
                                    <li class="divider"></li>
                                    <li class="dropdown dropdown-submenu">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Beds</a>
                                        <ul class="dropdown-menu">
                                            <li><a href="@Url.Action("ViewAllBed", "HospitalMaster")">Dashboard</a></li>
                                            <li class="divider"></li>
                                            <li><a href="@Url.Action("ViewBed", "HospitalMaster", new { BedId = 0 })">New </a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        }
                    </ul>
                    <ul class="nav navbar-nav pull-right">
                        <li class="dropdown">
                            <a id="btnScan" title="Patient Booking" onclick="ShowQrScanner('patient');">
                                <i class="glyphicon glyphicon-qrcode">
                                </i>
                            </a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <img style="height:23px;border-radius:20px;" src="../Content/Images/avatar5.png" alt="profile photo"/>
                                <span class="user-info">
                                    <small>Welcome,</small>
                                    @if (userInfo != null)
                                    {
                                        @userInfo.UserName
                                    }
                                </span><b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                @*<li class="dropdown ">
                                        <a href="#">Settings</a>
                                    </li>*@
                                @if (userInfo.IsAdmin())
                                {

                                    <li class="dropdown ">
                                        <a href="@Url.Action("Index", "AdminDashboard")" class="dropdown-toggle"><i class="glyphicon glyphicon-dashboard">My Dashboard</i></a>
                                    </li>

                                    <li class="divider"></li>
                                }
                                <li>
                                    <a href="@Url.Action("LogOff", "Account")" class="dropdown-toggle"><i class="glyphicon glyphicon-log-out">LogOff</i></a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
