@using Lab.Management.Common;
@model LabManagement.System.Models.LoginModel
@{
    ViewBag.Title = "Log in";
}

<div class="row ">
    <div class="col-sm-6 col-md-6 col-lg-6 centerCorosolContents">
        @Html.Partial("_LoginCarosul")
    </div>
    <div class="col-sm-6 col-md-6 col-lg-6 centerLoginContents">
        @using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            <div class="row">
                <div class="col-sm-8 col-md-8 col-lg-8">
                    <div class="form-group input-group">
                        <span class="input-group-addon">
                            <i class="glyphicon glyphicon-user">
                            </i>
                        </span>
                        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @placeholder = "Login Email" })
                        @Html.ValidationMessageFor(m => m.UserName)
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8 col-md-8 col-lg-8">
                    <div class="form-group input-group">
                        <span class="input-group-addon">
                            <i class="glyphicon glyphicon-cog">
                            </i>
                        </span>
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password" })
                        @Html.ValidationMessageFor(m => m.Password)
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-3 col-md-3 col-lg-3">
                </div>
                <div class="col-sm-5 col-md-5 col-lg-5 text-left">
                    <input type="submit" class="btn btn-primary" value="Log in"/>
                </div>
            </div>

        }
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 text-center">
        <p><h3>HPMS &copy; @DateTime.Now.Year -  @ConfigurationWrapper.StringSettings(ConfigKey.HospitalName) </h3> </p>
    </div>
</div>
