@using Lab.Management.Entities;
@model lmsOtherCaseSheet
@{
    ViewBag.Title = " Other Case Sheets";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var message = ViewBag.Message as string;
}

<div class="col-sm-10 col-md-10 col-lg-10 roundCornerDiv">
    @using (Html.BeginForm("EditOtherCaseSheets", "Reports", new { @id = "IdEdit", @name = "EditForm" }))
    {
        <div class="row">
            <hr/>
        </div>
        <div class="row">
            <div class="col-sm-10 col-md-10 col-lg-10 text-center">
                @Html.Partial("_HospitalDetail")
                <p><h4 class="text-success"><i class="glyphicon glyphicon-hand-right"> </i> Other Case Sheets</h4></p>
            </div>
        </div>
        <div class="row">
            <hr/>
        </div>
        <div class="row">
            <div class="col-sm-2 col-md-2 col-lg-2">
                Name
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2">

                @Html.TextBoxFor(x => x.NAME, new { @Id = "NAME", @class = "form-control", required = "required" })
                @Html.HiddenFor(x => x.OCSID)
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2">
                Age
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2">

                @Html.TextBoxFor(x => x.AGE, new { @Id = "AGE", @class = "form-control", required = "required" })
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2">
                I.P.NO
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2">

                @Html.TextBoxFor(x => x.ipno, new { @Id = "ipno", @class = "form-control", required = "required" })
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 col-md-2 col-lg-2">
                Address
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3">

                @Html.TextAreaFor(x => x.ADDRESS, new { @Id = "ADDRESS", @class = "form-control", required = "required" })
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2">
                DOA
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3">

                @Html.TextBoxFor(x => x.DOA, new { @Id = "DOA", @class = "form-control" })
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 col-md-2 col-lg-2">
                DOD
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3">

                @Html.TextBoxFor(x => x.DOD, new { @Id = "DOD", @class = "form-control" })
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2">
                Phone
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3">

                @Html.TextBoxFor(x => x.PHNO, new { @Id = "PHNO", @class = "form-control" })
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 col-md-2 col-lg-2">
                Complaints
            </div>
            <div class="col-sm-8 col-md-8 col-lg-8">

                @Html.TextAreaFor(x => x.COMPLAINTS, new { @Id = "COMPLAINTS", @class = "ckeditor" })
                <br/>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 col-md-2 col-lg-2">
                Examination
            </div>
            <div class="col-sm-8 col-md-8 col-lg-8">

                @Html.TextAreaFor(x => x.EXAMINATION, new { @Id = "EXAMINATION", @class = "ckeditor" })
                <br/>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 col-md-2 col-lg-2">
                Treatment
            </div>
            <div class="col-sm-8 col-md-8 col-lg-8">

                @Html.TextAreaFor(x => x.TREATMENT, new { @Id = "TREATMENT", @class = "ckeditor" })
                <br/>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 col-md-2 col-lg-2">
                Additional Notes
            </div>
            <div class="col-sm-8 col-md-8 col-lg-8">

                @Html.TextAreaFor(x => x.ADDITINOALNOTES, new { @class = "ckeditor", @Id = "ADDITINOALNOTES" })
                <br/>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 col-md-2 col-lg-2">
                Vaccum Delivery Notes
            </div>
            <div class="col-sm-8 col-md-8 col-lg-8">

                @Html.TextAreaFor(x => x.VACCUMDELIVERYNATES, new { @class = "ckeditor", @Id = "VACCUMDELIVERYNATES" })

                <br/>
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="col-sm-10 col-md-10 col-lg-10">
                <a href="@Url.Action("ViewAllSurgeryNotes", "Reports")" class="btn btn-warning">
                    <i class="glyphicon glyphicon-arrow-left">
                        Back
                    </i>
                </a>
                <button type="submit" class="btn btn-primary">
                    <i class="glyphicon glyphicon-pencil">
                        Save
                    </i>
                </button>
                @if (Model.OCSID > 0)
                {
                    <a href="@Url.Action("DeleteOtherCaseSheets", "Reports", new { id = Model.OCSID })" class="btn btn-danger">
                        <i class="glyphicon glyphicon-trash"></i>
                        Delete
                    </a>
                    <a href="@Url.Action("GenerateOtherCaseSheets", "Reports", new { id = Model.OCSID })" class="btn btn-info">
                        <i class="glyphicon glyphicon-th-large"></i>
                        Generate Report
                    </a>
                }
            </div>
        </div>
        <div class="row">
            <hr/>
        </div>
    }
</div>

@section Scripts {
    <script type="text/javascript" src="~/Content/js/ckeditor/ckeditor.js"></script>
    <script type="text/javascript">

        $(document).ready(function () {
            $('#DOA').datepicker({ format: 'dd/mm/yyyy' });
            $('#DOD').datepicker({ format: 'dd/mm/yyyy' });

            function SetEditorForEdit() {
                setEditorByIndex(0);
                setEditorByIndex(1);
            }
            function setEditorByIndex(index) {
                var htmliFrame = $('iframe')[index];
                if (htmliFrame === undefined)
                    return;
                var closestElement = ($(htmliFrame)[0]);
                if (closestElement === undefined)
                    return;
                var iframeFormElement = $(closestElement)[0];
                if (iframeFormElement === undefined)
                    return;
                var addNotes = '@Model.ADDITINOALNOTES';
                var additionalNotes = addNotes !== undefined && addNotes !== null ? addNotes : '';
                var vaccNotes='@Model.VACCUMDELIVERYNATES'
                var vaccumNotes = vaccNotes !== undefined && vaccNotes !== null ? vaccNotes : '';
                iframeFormElement.contentDocument.body.innerHTML = index == 0 ? additionalNotes : vaccumNotes;
            }
            setTimeout(function () {
                SetEditorForEdit();
            }, 1000);

        });
    </script>
}
